.home-main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner img {
  width: 100%;
  height: auto;
}

.pre-title {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.25em;
  margin-bottom: 0;
}

.banner-title {
  margin: 0;
  font-family: Heebo;
  font-weight: 600;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5em;
}

.bestsellers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bestsellers-obj {
  margin: 0;
  height: 50vh;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
