.products-main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products-main-section>.title {
  margin: 5rem 0;
}

.catalogue {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: inherit;
  margin-bottom: 4rem;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products img {
  width: 250px;
  margin: 0 50px;
}

.products .title {
  font-size: 1.25rem;
  font-weight: normal;
  letter-spacing: normal;
}

.rect {
  width: 250px;
  height: 250px;
  background-color: gray;
  margin: 0 5em;
}

@media (max-width: 1200px) {
  .catalogue {
    flex-direction: row;
  }
  .line {
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .catalogue {
    flex-direction: column;
  }
  .line {
    flex-direction: column;
  }
}
