@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Heebo');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  font-size: 1.2rem;
  color: black;
  min-height: 100vh;
}

.brand-logo {
  display: flex;
  align-items: center;
}

.full-height-grow {
  display: flex;
  flex-direction: column;
}

.main-nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;

  /* justify-content: space-between;
  align-items: center;
  height: 80px;
  font-size: 1.2rem; */
}

.main-nav a {
  color: inherit;
  text-decoration: none;
  padding: 1.5rem;
}

.main-nav a:hover {
  color: #A6A6A6;
}

.stroke-hover:hover {
  stroke: #A6A6A6;
}

.fill-hover:hover {
  fill: #A6A6A6;
}

.main-header {
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  font-family: Heebo, Montserrat;
  justify-content: space-between;
  height: 100px;
}

.container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 0 40px;
  flex-grow: 1;
}

.title {
  letter-spacing: 0.5em;
  justify-content: center;
  font-size: 1.75rem;
  font-weight: 600;
}


.call-for-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.call-for-action>.title {
  /* font-family: Heebo; */
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
}

.subtitle {
  font-family: Montserrat;
  font-size: 1rem;
  letter-spacing: normal;
  margin-top: 0;
}

.call-for-action form {
  /* align-items: center; */
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 00px;
}

input[type=text] {
  width: 100%;
  display: block;
  padding: 10px 0;
  margin: 0;
  border: none;
  border-bottom: 1px solid black;
  background: 0 0;
  font-family: Montserrat;
}

input[type=button] {
  align-self: center;
  width: auto;
  padding: 20px 40px;
  margin: 30px 0;
  margin-bottom: 100px;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: Montserrat;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 0.9rem;
  letter-spacing: 0.16em;
  font-weight: 500;
}

input[type=button]:hover {
  cursor: pointer;
  color: #A6A6A6;
}

.messages {
  color: red;
  font-size: 1rem;
  display: block;
  text-align: left;
}

.footer-nav {
  background-color: #f2f2f2;
  height: 100px;
  width: 100%;
  display: flex;
}
